<div class="section">
  <div class="box" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="subbox">
      <p class="title">Dịch vụ</p>
      <ul>
        <li>Điều khoản sử dụng</li>
        <li>Chính sách bảo mật</li>
        <li>Giới thiệu BookStore</li>
        <li>Hệ thống trung tâm - nhà sách</li>
      </ul>
    </div>
    <div class="subbox">
      <p class="title">Hỗ trợ</p>
      <ul>
        <li>Chính sách đổi trả - hoàn tiền</li>
        <li>Chính sách khách sỉ</li>
        <li>Phương thức vận chuyển</li>
        <li>Phương thức thanh toán</li>
      </ul>
    </div>
    <div class="subbox">
      <p class="title">Tài khoản của tôi</p>
      <ul>
        <li>Đăng nhập/Tạo mới tài khoản</li>
        <li>Thay đổi địa chỉ khách hàng</li>
        <li>Chi tiết tài khoản</li>
        <li>Lịch sử mua hàng</li>
      </ul>
    </div>
    <div class="subbox">
      <p class="title">Liên hệ</p>
      <ul>
        <li>Địa chỉ: 60-62 Lê Lợi, Q.1, TP.HCM</li>
        <li>Email: info@bookstore.com</li>
        <li>Phone: 0123456789</li>
      </ul>
    </div>
  </div>
</div>
